body, html {
    height: 100%;
    margin: 0;
    position: relative;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../static/img/img5.jpg'); 
    background-position: center;
    background-size: cover; 
    background-attachment: fixed; 
    overflow: hidden; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    filter: blur(10px);
    z-index: -1; 
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-center {
    background-color: rgba(7, 7, 7, 0.591); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(8, 8, 8, 0.413);
    max-width: 610px;
    width: 100%;
}


form .row {
    margin-bottom: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d5d5d2;

}

form label {
    flex: 0 0 60%; 
    text-align: right;
    margin-right: 10px;
    white-space: nowrap;
}

form .col-sm-9 {
    flex: 1;
}

p.small {
    margin-top: 15px;
    font-size: 14px;
    text-align: center; 
    color: #d5d5d2;

}

button {
    margin-top: 20px;
    width: auto; 
}

/* Responsive Design */
@media (max-width: 768px) {
    .text-center {
        padding: 20px;
    }
    h1 {
        font-size: 1.5rem;
    }
    button {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .text-center {
        padding: 15px;
        width: 90%;
    }
    h1 {
        font-size: 1.2rem;
    }
    button {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) {
    .text-center {
        max-width: 500px;
        padding: 40px;
    }
}
